
.todoListTask{
  position: relative;
}
.todoListTask button {
  position: absolute;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.74);
  color: aliceblue;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.todoListTask button:hover {
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.753)
}
.todoListTaskDone{
  transition: 0.3s ease-in-out;
  opacity: 0.5;
}